html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
    height: auto;
    /* margin-left: 200px; */
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

table {
    max-width: 1220px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

/* =========================== */

.table__header {
    text-align: right;
    padding: 30px 0;
    border-bottom: 2px solid #80808067;
}

.contact {
    max-width: 270px;
    line-height: 25px;
}

.none {
    max-width: 870px;
    color: #ebfcff00;
}

/* =========================== */

.container {
    justify-content: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article__title {
    max-width: 596px;
    margin-bottom: 48px;
    font-family: 'Oswald';
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article__title-large {
    font-size: 48px;
}

.article__title-medium {
    padding-top: 80px;
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
}

.article__img {
    width: 100%;
    height: auto;
}

.article__list {
    margin-top: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 14px;
}

li::marker {
    color: blue;
    font-size: 22px;
}

video {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

/* =========================== */

footer {
    background-image: linear-gradient(90deg, #ebfcff, #f4cfff);
}

.table__footer {
    text-align: center;
    padding: 80px 15px;
}

.footer__logo {
    padding: 0 50px 25px 0;
}

/* ===================================================== */

a {
    color: inherit;
    text-decoration: none;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__item {
    list-style-type: none;
    padding-bottom: 20px;

}

