html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

table {
    max-width: 1220px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

/* =========================== */

.table__header {
    text-align: right;
    padding: 30px 0;
    border-bottom: 2px solid #80808067;
}

.contact {
    max-width: 270px;
    line-height: 25px;
}

.none {
    max-width: 870px;
    color: #ebfcff00;
}

/* =========================== */

.container {
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article__title {
    max-width: 596px;
    margin-bottom: 48px;
    font-family: 'Oswald';
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article__title-large {
    font-size: 48px;
}

.article__title-medium {
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb-1 {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 40px;
}


.article__decor__wrapper {
    position: relative;
}

.article__decor__wrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../img/decor-icon.svg) no-repeat;
    width: 528px;
    height: 48px;
}

.article__decor__wrapper-1::before {
    top: 100px;
    left: -350px;
}

.article__decor__wrapper-2::before {
    right: -350px;
    bottom: 136px;
}


.article__img {
    width: 100%;
    height: auto;
}

.article__list {
    margin-top: 0;
    padding-left: 16px;
}


.article__play__button {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ed;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

li {
    margin-bottom: 14px;
}

li::marker {
    color: #3596ed;
    font-size: 22px;
}

video {
    width: 100%;
    height: auto;
}

/* =========================== */

footer {
    background-image: linear-gradient(90deg, #ebfcff, #f4cfff);
}

.table__footer {
    text-align: center;
    padding: 80px 15px;
}

.footer__logo {
    padding: 0 50px 25px 0;
}

/* ===================================================== */

a {
    color: inherit;
    text-decoration: none;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__item {
    list-style-type: none;
    padding-bottom: 20px;
}