body {
    background-color: #000000;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title-block {
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}

.title-block:before {
    content: '';
    background: red;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    transform: translate(-330px);
    box-shadow: 0px 0px 0px 5px #ffffff;
}

.title-block:after {
    content: '';
    background: rgb(0, 4, 255);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(167deg);
    margin-left: 350px;
    box-shadow: 0px 0px 0px 5px #ffffff;
}