body {
    background: #000000;
    color: white;
    height: 1800px;
    max-width: 1100px;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
}

.block {
    position: fixed;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    height: 300px;
}

.red {
    background: rgb(250, 80, 80);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 350px;
    margin-bottom: 150px;
}

.gray {
    background: rgb(105, 91, 91);
    height: 100px;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-right: 50px;
}
